extends layout
block content
  #blog.section
    .container
      .content
        .row
          br
          br
          .title
            h2 Blog
            .hr.hr-small.hr-center
              span.hr-inner
            p Blog Evolution.
