extends layout
block content
  #labs.section
    .container
      .content
        .row
          br
          br
          .title
            h2 Labratory
            .hr.hr-small.hr-center
              span.hr-inner
            p Read and see our research.
