extends layout

block head
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
  script(src='/js/jq/jquery.min.js')
  script(src='/js/jq/jquery.easing.min.js')
  script(src='/js/jq/jquery.scrollto.min.js')
  script(src='/js/jq/jquery.nav.js')
  script(src='/js/slabtext.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/socket.js')
  script(src='/js/main.js')

block content
  .hero.bg-fixed
    .slogan
      .vcenter.container
        .row
          .span12
            .span4
            form.span4(method='POST', action='/register')
              .title-l
                h4 Create Account
              label.float-l(for='user') Email Address
              input.input(name='user', type='email', required)
              br
              label.float-l(for='password') Password
              input.input(name='password', type='password', required)
              br
              input.btn.float-r(value='Create', type='submit')
            .span4
  #footer
    &copy; 2013 The Mind Company
