extends layout
block content
  #tuts.section
    .container
      .content
        .row
          br
          br
          .title
            h2 Tutorials
            .hr.hr-small.hr-center
              span.hr-inner
            p Let us show you how.
